/* _coffee-grid.scss */

body {
	align-items: center;
	background: #f1f1f1 url('../images/honeycomb-pattern.png') center/270px repeat;
	display: flex;
	justify-content: center;
	min-height: 100vh;
	padding: 40px;
}

.coffee-grid {
	background-color: var(--black);
	box-shadow: 0 8px 40px rgba(#000, 0.5);
	color: white;
	display: grid;
	grid-gap: 4px;
	max-width: 295px;
	width: 100%;

	@include bp-tablet {
		grid-template-areas: "a b"
                       		 "c c";
		grid-template-columns: 2fr 1fr;
		grid-template-rows: auto auto;
		max-width: 640px;
	}

	@include bp-desktop {
		max-width: 960px;
	}
}

.coffee-infographic {
	background-color: var(--brown);
	padding: 40px;
	text-align: center;

	&__title {
		color: var(--foam);
		text-shadow: 0 4px 4px rgba(#000, 0.5);
	}

	&__mug-pieces {
		position: relative;
	}

	&__mug {
		border: 8px solid var(--white);
		border-radius: 8px 8px 90px 90px;
		box-sizing: border-box;
		height: 135px;
		margin: 40px auto 0;
		overflow: hidden;
		padding: 24px 0 0;
		position: relative;
		width: 180px;
	}

	&__handle {
		border: 8px solid var(--white);
		border-radius: 24px 16px 24px 16px;
		height: 40px;
		position: absolute;
		right: 25px;
		top: 16px;
		transform: translateX(100%);
		width: 24px;
	}

	&__plate {
		background-color: var(--white);
		border-radius: 40px;
		height: 8px;
		margin: -8px auto 0;
		width: 180px;
	}

	&__ingredient {
		background: transparent center/80px 80px repeat;
		height: 0;
		margin: 0 -8px;
		transition: height 0.5s ease;

		&--water 		{ background-image: url('images/water-pattern.svg'); box-shadow: inset 0 0 0 4px var(--water); }
		&--foam 		{ background-image: url('images/foam-pattern.svg'); box-shadow: inset 0 0 0 4px var(--foam); }
		&--milk 		{ background-image: url('images/milk-pattern.svg'); box-shadow: inset 0 0 0 4px var(--milk); }
		&--coffee 		{ background-image: url('images/coffee-pattern.svg'); box-shadow: inset 0 0 0 4px var(--coffee); }
		&--chocolate 	{ background-image: url('images/chocolate-pattern.svg'); box-shadow: inset 0 0 0 4px var(--chocolate); }
	}

	@include bp-tablet {
		grid-area: a;

		&__mug {
			border-radius: 8px 8px 120px 120px;
			border-width: 12px;
			height: 180px;
			margin: 40px auto 0;
			width: 240px;
		}

		&__handle {
			border-radius: 32px 24px 32px 24px;
			border-width: 12px;
			height: 48px;
			right: 64px;
			width: 32px;
		}

		&__plate {
			height: 12px;
			margin: -12px auto 0;
			width: 260px;
		}
	}

	@include bp-desktop {
		height: 400px;

		&__mug {
			border-radius: 8px 8px 160px 160px;
			height: 240px;
			margin-top: 64px;
			width: 320px;
		}

		&__handle {
			border-radius: 40px 24px 40px 24px;
			height: 72px;
			right: 126px;
			top: 24px;
			width: 48px;
		}

		&__plate {
			width: 340px;
		}
	}
}

.coffee-menu {
	background-color: var(--brown);
	position: relative;

	&::after {
		background: linear-gradient(transparent, var(--brown));
		bottom: 0;
		content: '';
		height: 48px;
		left: 0;
		pointer-events: none;
		position: absolute;
		width: 100%;
		z-index: 1;
	}

	&__list {
		list-style: none;
		margin: 0;
		max-height: 292px;
		overflow-y: scroll;
		padding: 0 0 48px;

		&::-webkit-scrollbar {
  			width: 6px;
		}

		&::-webkit-scrollbar-track {
  			background: var(--black);
		}

		&::-webkit-scrollbar-thumb {
  			background: var(--foam);
  			border: 2px solid var(--black);
  			border-radius: 8px;
		}
	}

	&__item {
		align-items: center;
		border-bottom: 2px solid var(--black);
		color: var(--foam);
		cursor: pointer;
		display: flex;
		font-size: 20px;
		justify-content: space-between;
		padding: 12px 40px;
		position: relative;
		transition: background-color 0.2s ease;
		z-index: 1;

		&:last-child {
			border: none;
		}

		&:hover {
			background-color: #53402F;
		}

		&--selected {
			background-color: #53402F;
			color: var(--white);
		}
	}

	&__indicator {
		background-color: var(--black);
		border-radius: 16px;
		display: flex;
		padding: 2px 1px;
	}

	&__indicator-dot {
		border-radius: 50%;
		display: block;
		height: 8px;
		margin: 0 2px;
		width: 8px;

		&--water 		{ background-color: var(--water); }
		&--foam 		{ background-color: var(--foam); }
		&--milk 		{ background-color: var(--milk); }
		&--coffee 		{ background-color: var(--coffee); }
		&--chocolate 	{ background-color: var(--chocolate); }
	}

	@include bp-tablet {
		grid-area: b;

		&__item {
			max-height: 312px;
			padding: 12px 24px;
		}
	}

	@include bp-desktop {
		&__list {
			max-height: 432px;
		}
	}
}

.coffee-ingredients {
	background-color: var(--brown);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 40px 0 8px;
	text-align: center;

	&__ingredient {
		margin: 0 24px 24px;
	}

	&__pattern {
		border-radius: 50%;
		box-shadow: 0 0 0 4px var(--black);
		display: block;
		height: 64px;
		margin: 0 auto 16px;
		width: 64px;
	}

	@include bp-tablet {
		grid-area: c;
	}

	@include bp-desktop {
		justify-content: space-around;
	}
}







